<header>

    <h1 class="justify-content-center logo">
        <a href="/">
          <img src="assets/img/logo-difertec.png" alt="Difertec">
        </a>
    </h1>

    <div class="fixo">

        <a href="tel:558532236651" class="btn btn-light d-block">
          <i class="fas fa-phone"></i> <span> 85 3223.6651</span>
        </a>
      
      
        <a class="btn btn-light d-block zap" href="https://api.whatsapp.com/send?phone=5585999739975" target="_blank">
          <i class="fab fa-whatsapp"></i> <span> 85 99973.9975</span>
        </a>
      
        <a href="mailto:comercial@difertec.com.br" class="btn btn-light d-block">
          <i class="far fa-envelope"></i> <span> comercial@difertec.com.br</span>
        </a>
      
      
      
      </div>

</header>

