<section class="sec__sobre">

  <div class="container-fluid">

    <div class="row">

      <div class="col-md-6">

        <div class="box" style="min-height: 500px;" *ngFor="let item of conteudo2">

          <h4>{{ item.titulo }}</h4>

          <p>
            {{ item.texto }}
          </p>

        </div>

      </div>

      <div class="col-md-6 bg_coisa">


      </div>


    </div>


  </div>



</section>


<section class="sobres">

  <div class="container">


    <div class="row">

      <div class="box-sobre col-md-4" *ngFor="let item of mvv">

        <i class="{{item.icone}}"></i>

        <h2> {{item.titulo}}</h2>
        <p>
          {{item.texto}}
        </p>

      </div>
    </div>

  </div>

</section>

<section class="sec__servicos">

  <div class="container">

    <div class="row ">

      <div class="col-12">

        <div class="titulo">
          <h2>O QUE
            <span class="text-thm"> FAZEMOS</span>
          </h2>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-12 col-md-6" *ngFor="let item of conteudo">

        <div class="sombra">

          <h4>{{ item.titulo }}</h4>
          <p>{{ item.texto }}
          </p>
        </div>

      </div>






    </div>

  </div>

</section>

<section class="fornecemos">

  <div class="container">

    <div class="row">

      <div class="col-12">

        <div class="titulo">
          <h2>MARCAS QUE
            <span class="text-thm"> REPRESENTAMOS</span>
          </h2>
        </div>

      </div>


      <div class="col-md-2">

        <span class="et_pb_image_wrap">
          <img src="assets/img/ades.jpg" alt="">
        </span>

      </div>

      <div class="col-md-2">

        <span class="et_pb_image_wrap">
          <img src="assets/img/cabri.jpg" alt="">
        </span>

      </div>

      <div class="col-md-2">

        <span class="et_pb_image_wrap">
          <img src="assets/img/dormer.jpg" alt="">
        </span>

      </div>

      <div class="col-md-2">

        <span class="et_pb_image_wrap">
          <img src="assets/img/gardini.jpg" alt="">
        </span>

      </div>

      <div class="col-md-2">

        <span class="et_pb_image_wrap">
          <img src="assets/img/ht-ferramentas.jpg" alt="">
        </span>

      </div>

      <div class="col-md-2">

        <span class="et_pb_image_wrap">
          <img src="assets/img/htom.jpg" alt="">
        </span>

      </div>

      <div class="col-md-2">

        <span class="et_pb_image_wrap">
          <img src="assets/img/insize.jpg" alt="">
        </span>

      </div>

      <div class="col-md-2">

        <span class="et_pb_image_wrap">
          <img src="assets/img/lenox.jpg" alt="">
        </span>

      </div>

      <div class="col-md-2">

        <span class="et_pb_image_wrap">
          <img src="assets/img/mitutoyo.jpg" alt="">
        </span>

      </div>

      <div class="col-md-2">

        <span class="et_pb_image_wrap">
          <img src="assets/img/nvo.jpg" alt="">
        </span>

      </div>

      <div class="col-md-2">

        <span class="et_pb_image_wrap">
          <img src="assets/img/osg.jpg" alt="">
        </span>

      </div>

      <div class="col-md-2">

        <span class="et_pb_image_wrap">
          <img src="assets/img/pilana.jpg" alt="">
        </span>

      </div>

      <div class="col-md-2">

        <span class="et_pb_image_wrap">
          <img src="assets/img/stanley.jpg" alt="">
        </span>

      </div>

    </div>

  </div>

</section>