@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #01c000;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
    .fixo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            font-size: 15px;
            background: transparent;
            border: none;
            font-weight: 500;
            color: #01c000;
            margin-right: 10px;
            @media screen and (max-width:992px) {
                span {
                    display: none;
                }
            }
        }
        .zap {
            background: #01c000;
            color: #fff;
            &:hover {
                background: #037403;
            }
        }
    }   
    
    .logo {
        max-width: 200px;
    }
}


img {
    max-width: 100%;
}



section {
    margin: 0 0 100px 0; 
}


.sec_banner {
    height: 100vh;
    align-items: center;
    display: flex !important;
    background: url('../img/banner.jpg') no-repeat;
    margin-bottom: 0;
    h2 {
        font-size: 65px;
        text-align: center;
        margin: 0 20%;
        text-shadow: 0 1px 1px #ffffff;
    }
}


.sec__sobre {
    margin-bottom: 0;
    min-height: 300px;
    .box {
        min-height: 500px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10% 20%;
        @media screen and (max-width:992px) {
            padding: 10% 0%;
        }
    }
    h2 {
        margin-top: 30px;
        font-weight: bold;
    }
    p {
        margin-bottom: 30px;
    }
    .bg_coisa {
        background-color: #f3efef;
        background-image: url('../img/metal.jpg');
        background-repeat: no-repeat;
        background-position: right center; 
        width: 100%;
        min-height: 300px;
    }
}

.sobres {
    padding: 100px 0;
    background: #303030;
    text-align: center;
    
    .fa-star,
    .fa-chart-line,
    .fa-file-alt {
        font-size: 60px;
        color: #fff;
        margin-bottom: 30px;
    }
    h2 {
        color: #fff;
    }
    p {
        color: #fff;
    }
}

.sec__servicos {
    text-align: center;
    .text-thm {
        color: #303030;
        font-weight: bold;
    }
    .titulo {
        margin: 0 0 50px;
    }
}

.sombra {
    margin-bottom: 50px;
    box-shadow: 0 0px 5px #e0dfdf;
    border-radius: 8px;
    padding: 50px;
    p {
        margin: 0;
    }
}


.et_pb_image_wrap {
    box-shadow: 0 0px 5px #e0dfdf;
    border-radius: 8px;
    display: block;
    margin-bottom: 20px;
}

.fornecemos {
    text-align: center;
    .titulo {
        font-weight: bold;
    }
    .text-thm {
        color: #303030;
        font-weight: bold;
    }
    .titulo {
        margin: 0 0 50px;
    }
}



footer {
    background: #e6e6e6;
    padding: 30px 0;
    text-align: center;
    .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width:992px) {
            flex-direction: column;
        }
    }
    p {
        color: rgb(56, 56, 56);
        margin: 0;
        text-transform: uppercase;
        font-size: 11px;
        @media screen and (max-width:992px) {
            margin-top: 20px;
        }
    }
}

